body {
  font-family: "Playfair Display", sans-serif; }

section {
  padding: 100px 0; }

/*==============================Header==============================*/
.main-header {
  background: #f0f0f0;
  background-size: cover;
  position: relative; }

/*.navbar {
  background: $bg-menu;
}*/
.section-banner {
  background: #323232;
  background-size: cover;
  height: 100vh;
  min-height: 700px; }
